body{
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: -0.05em;
    color: #222;
    min-width: 1152px;
    /* margin: 0 auto; */
    line-height: 1.35em;
}

.blind{
    height: 1px; width: 1px;
    position: absolute;
    overflow: hidden;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.common-inner{
    margin: 0 auto;
    width: 1152px;
    position: relative;
    min-width: 1152px;
}

/* .common-inner::after{
    content: '';
    display: block;
    clear: both;
} */

.header .logo,
.inner2 .link-more,
.sc-news .link-more::after,
.footer .call-area,
.header .btn-search,
.btn-prev,
.btn-next,
.btn-start,
.btn-stop
{
    background-size: 300px 300px;
    background-image: url(../images/icons01.png);
    background-repeat: no-repeat;
}

.header .logo-seoul{
    background-size: 180px 110px;
    background-image: url(../images/logo-seoul.png);
    background-repeat: no-repeat;
}

.sc-slide .main-news::before,
.sc-slide .citizen::before
{
    background-size: 300px 300px;
    background-image: url(../images/icons02.png);
    background-repeat: no-repeat;
}

.sc-service .link-service::before{
    background-size: 1200px 60px;
    background-image: url(../images/main-serv.png);
    background-repeat: no-repeat;
}

.sc-sns .sc-title::after,
.sc-sns .link-sns
{
    background-size: 280px 40px;
    background-image: url(../images/snsicons.png);
    background-repeat: no-repeat;
}

.footer .link-sns{
    background-size: 175px 50px;
    background-image: url(../images/icons2.png);
    background-repeat: no-repeat;
}
