@import './reset.css';
@import './common.css';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

.header .header-top{
    height: 48px;
    display: flex;
    align-items: center;
}
.header .logo{
    width: 105px;
    height: 27px;
    background-position:-5px -165px;
}
.header .link-logo{
    display: block;
    height: 100%;
}

.header .gnb-area{
    display: flex;
    /* justify-content: space-between; */
    margin-left: 50px;
}
.header .gnb-list{
    display: flex;
    
}
.header .gnb-item{
    padding: 0 10px;
    font-size: 16px;
    font-weight: 700;
}
.header .util-area{
    margin-left: 253px;
}
.header .link-util{
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 700;
}

.header .link-gnb:hover{
    color: #2292e9;
}
.header .link-util:hover{
    color: #2292e9;
}

.header .header-bottom{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header .logo-seoul{
    background-position: 0 0;
    margin: 38px 0 30px;
    width: 178px;
    height: 51px;
}
.header .logo-seoul a{
    height: 100%;
    display: block;
}

.header .search-area{
    display: flex;
    align-items: center;
}

.header form{
    width: 460px;
    height: 42px;
    border: 3px solid #2292e9;
    box-sizing: border-box;
}

.header fieldset{
    display: flex;
}
.header input{
    flex: 1;
}
.header .weather-area{
    display: flex;
    align-items: center;
}
.header .weather-wrap{
    display: flex;
}
.header .lang-area{
    position: absolute;
    right: 0; top: 0;
    overflow: hidden;
}
.header select{
    width: 80px;
    height: 21px;
    border-color: #afcfea;
    color: #1E6CB3;
    font-size: 12px;
    padding: 0 0 0 2px;
    box-sizing: border-box;
    line-height: 21px;
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    border-radius: 0;
    background: url(../images/arrow.png) no-repeat no-repeat 96% center;
    background-size: 8px auto;
}
.header .btn-change{
    width: 30px;
    font-size: 11px;
    color: #fff;
    background-color: #1E6CB3;
    border: 0;
    height: 21px;
    margin-left: -1px;
    display: inline-block;
    padding: 0;
    float: right;
}


.header .weather-area{
    margin-right: 30px;
}

.header .deg{
    font-size: 25px;
    margin-right: 5px;
    font-weight: 700;
}
.header .weather-box .desc{
    font-size: 16px;
    letter-spacing: -0.1em;
    margin-left: 10px;
}
.header .dust-box {
    margin-top: 5px;
    font-size: 13px;
    letter-spacing: -1px;
}


.footer{}
.footer .info-area{
    display: flex;
    justify-content: space-between;
}
.footer .info-wrap{
    padding: 10px 0;
    display: flex;
    
}
.footer .link-info:first-child::before{
    display: none;
}
.footer .link-info{
    display: block;
    font-size: 12px;
    padding: 0 10px 0 0;
}
.footer .link-info.private{
    font-weight: 700;
}
.footer .link-info::before{
    content : "";
    display: inline-block;
    height  : 8px;
    width   : 1px;
    background: #dcdcdc;
    margin-right: 10px;
}
.footer .sns-wrap{
    display: flex;
    text-align: center;
    margin-top: 7px;
}

.footer .link-sns{
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0 7px;
}
.footer .link-sns.facebook{background-position: -25px 0;}
.footer .link-sns.twitter{background-position: -50px 0;}
.footer .link-sns.insta{background-position: -75px 0;}
.footer .link-sns.kakao{background-position: -100px 0;}
.footer .link-sns.youtube{background-position: -125px 0;}
.footer .link-sns.blog{background-position: -150px 0;}

.footer .link-sns.facebook:hover{background-position: -25px -25px;}
.footer .link-sns.twitter:hover{background-position: -50px -25px;}
.footer .link-sns.insta:hover{background-position: -75px -25px;}
.footer .link-sns.kakao:hover{background-position: -100px -25px;}
.footer .link-sns.youtube:hover{background-position: -125px -25px;}
.footer .link-sns.blog:hover{background-position: -150px -25px;}


.footer .cs-area{
    padding: 22px 0;
    border-top: 1px solid #ccc;
    display: flex;
}
.footer .call-area{
    width: 108px; height: 45px;
    background-position:-180px 0 ;
    margin: 10px 40px 0 0;
}
.footer .add-area{}
.footer .add-box{
    padding-bottom: 2px;
    font-size: 12px;
    color: #636363;
}
.footer .copy{
    font-size: 12px;
    color: #636363;
    line-height: 12px;
}

.footer .mark-area{
    display: flex;
    margin-left: auto;
}
.footer .certification{
    padding-left: 15px;
}

.footer .upper{
    position: fixed;
    bottom: 98px; right: 130px;
}