.inner1{
    display: flex;
    justify-content: space-between;
}
/* 슬라이드------------------ */
.sc-slide .slide{
    display: flex;
    position: relative;
}
.sc-slide .slide.active{
    z-index: 2;
}
.sc-slide .slide01{
    
}
.sc-slide .slide02{
   
}

.sc-slide .title{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background-color: #d2e1e9;
    color: #333;
    display: block;
    width: 80px; height: 173px;

    
}
.sc-slide .active .title{
    background-color: #0158a8;
    color: #fff;
}
.sc-slide .title{
    display: flex;
    justify-content: center;
}
.sc-slide .title a{
    display: block;
    height: 100%;
    margin-top: 50px;
}
.sc-slide .main-news{
    
}

.sc-slide .main-news::before{
    background-color: #fff;
    background-position: 0 0;
    border-radius: 50%;
    
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
}
.sc-slide .active .title a::after{
    content: " ";
    position: absolute;
    z-index: 10;
    left: 99%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 32px;
    border-color: transparent transparent transparent #0158a8;
    margin-top: -25px;
}

.sc-slide .citizen::before{
    background-color: #fff;
    background-position: 0 0;
    border-radius: 50%;
    
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    background-position: -50px 0px;
}
.sc-slide .swiper{
    height: 350px;
    width: 690px;
}
.sc-slide .swiper{
    position: absolute;
    left: 80px;
}
.sc-slide .slide02 .title{
    position: absolute;
    top: 177px;
}
.sc-slide .swiper.main2{
    position: absolute;
}
.sc-slide .title{
    position: absolute;
    top: 2px;
}
.sc-slide figure{
    position: relative;
}
.sc-slide figcaption{
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.sc-slide .control-box{
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    top: 90%;
    right: 20px;
    width: 110px;
    height: 32px;
    z-index: 2;
}
.sc-slide .swiper-pagination{
    position: absolute;
    font-size: 13px;
    right: 70px;
    display: flex;
    top: 5px;
    right: 170px;
    width: 20%;
}
.sc-slide .swiper-pagination::after{
    content: '';
    position: absolute;
    top: -1px;
    right: -10px;
    width: 1px;
    height: 24px;
    background: rgba(255,255,255,.5);
}
.sc-slide .btn-prev{
    display: inline-block;
    box-sizing: border-box;
    width: 18px; height: 18px;
    background-position: -5px -165px;
    /* background-position: -241px -285px; */
    position: absolute;
    right: 36px;
    
}

.sc-slide .play-box{
    display: flex;
    position: absolute;
    right: 18px;
}
.sc-slide .btn-start.active{
    opacity: 1;
    display: inline-block;
}
.sc-slide .btn-start{
    display: none;
    opacity: 0;
    width: 18px; height: 18px;
    /* background-position: -285px -285px; */
    background-position: -5px -165px;
}
.sc-slide .btn-stop.active{
    opacity: 1;
    display: inline-block;
}
.sc-slide .btn-stop{
    display: none;
    opacity: 0;
    width: 18px; height: 18px;
    /* background-position: -269px -285px; */
    background-position: -5px -160px;
    
}

.sc-slide .btn-next{
    display: inline-block;
    width: 18px; height: 18px;
    /* background-position: -256px -285px; */
    background-position: -5px -160px;
    position: absolute;
    right: 0;
}

/* 코로나 ----------------------------*/
.sc-covid .covid-area{
    
}
.sc-covid .covid-new{
    position: relative;
    width: 360px;
    height: 98px;
    display: block;
    background: url(../images/covid19.jpg) no-repeat 100%;
    margin-bottom: 5px;
}
.sc-covid .date{
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    top: 7px;
    right:20px;
    display: inline-block;
}
.sc-covid .new{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    top: 62px;
    left:35px;
    display: inline-block;
    color:#fff;
    width: 130px;
    text-align: center;
}
.sc-covid .acc{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    top: 62px;
    right:35px;
    display: inline-block;
    color:#fff;
    width: 130px;
    text-align: center;
}

/* 비전----------------------------- */

.vision{
    width: 360px;
    height: 109px;
    background: url(../images/vision.jpg) no-repeat 100%;
    margin-bottom: 5px;
}
.vision .link-vision{
    height: 100%;
    display: block;
}
/* 시장====================== */
.sc-may{}
.sc-may .mayor-area{
    position: relative;
}
.sc-may .may-intro{
    
    display: block;
    width: 360px;
}
.sc-may .may-imgbg{}
.sc-may .mayor-wrap{
    position: absolute;
    display: inline-block;
    bottom: 15px; left: 17px;
}
.sc-may .link-may{
    margin-right: 3px;
}



.sc-title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.sc-service {
    padding-top: 50px;
    position: relative;
}

.sc-service .service-list {
    display: flex;
    justify-content: space-between;
}

.sc-service .link-service::before {
    content: '';
    display: block;
    margin: auto;
    height: 60px;
    width: 60px;
}

.sc-service .link-service.serv::before {
    background-position: -360px 0;
}

.sc-service .link-service.call::before {
    background-position: 0 0;
}

.sc-service .link-service.job::before {
    background-position: -120px 0;
}

.sc-service .link-service.real::before {
    background-position: -300px 0;
}

.sc-service .link-service.study::before {
    background-position: -180px 0;
}

.sc-service .link-service.welfare::before {
    background-position: -960px 0;
}

.sc-service .link-service.living::before {
    background-position: -780px 0;
}

.sc-service .link-service.younginfo::before {
    background-position: -1140px 0;
}

.sc-service .link-service.myhand::before {
    background-position: -1020px 0;
}

.sc-service .link-service.demo::before {
    background-position: -60px 0;
}

.sc-service .link-service.city::before {
    background-position: -600px 0;
}

.sc-service .service-item .city {
    display: block;
    text-align: center;
}

.sc-service .link-more {
    display: inline-block;
    position: absolute;
    top: 45px;
    right: 0;
    width: 112px;
    height: 29px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    padding-left: 13px;
    line-height: 28px;
    background: url(../images/all-link.png) no-repeat right 13px top 50%;
}

.sc-covidhelp {
    margin-top: 35px;
    background: #eff4f8;

}

.sc-covidhelp .common-inner {
    display: flex;
    padding: 20px 0;
    
}

.sc-covidhelp .covid-item{
   
}
.sc-covidhelp .covid-item:first-child:before{
    display: none;
}
.sc-covidhelp .covid-item::before{
    top: 20px;
    position: absolute;
    content: '';
    width: 1px;
    height: 60px;
    background: #dbdbdb;
    display: inline-block;
    
}


/* 
.sc-covidhelp a+a::before {
    content: '';
    width: 1px;
    height: 60px;
    background: #dbdbdb;
    display: inline-block;
    margin: 0 1px;
} */

.sc-covidhelp a {
    
}


.inner2 {
    padding: 50px 0 50px;
    border-bottom: 2px solid #222222;
    display: flex;
    justify-content: space-between;
}

.inner2 .sc-title {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #dbdbdb;
}

.sc-event {
    position: relative;
    width: 31%;
}

.sc-festival {
    position: relative;
    width: 31%;
}

.board-item {
    padding: 6px 0 6px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.board-item span {
    display: inline-block;
    margin-right: 10px;
}

.badge-cul {
    color: #9b64d3;
}

.badge-econo {
    color: #069363;
}

.badge-envi {
    color: #599100;
}

.inner2 .link-more {
    position: absolute;
    right: 0;
    top: 2px;
    width: 22px;
    height: 20px;
    border: 1px solid #ddd;
    background-position: no-repeat -1px -1px;
}

.sc-often {
    width: 31%;
}

.sc-often .sc-title {
    border-bottom: none;
}

.sc-often .often-list {
    padding: 14px 5px 14px 20px;
    background: #eff4f8;
    display: flex;
    flex-wrap: wrap;

}

.sc-often .often-item {
    display: block;
    width: 50%;
}

.sc-often a {
    display: block;
    position: relative;
    line-height: 28px;
    margin-left: 10px;
}

.sc-often a::before {
    content: '';
    margin-right: 10px;
    position: absolute;
    background: #666666;
    width: 2px;
    height: 2px;
    left: -10px;
    top: 70%;
    margin-top: -6px;

}



.sc-info {
    padding-top: 40px;
}

.sc-info .sc-title {
    border-bottom: none;
}

.sc-info .info-list {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.sc-info .info-item {
    display: block;
    text-align: center;

}

.sc-info .link-info::before {
    content: '';
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
    background-position: cover;
}

.sc-info .link-info.living::before {
    background: url(../images/info01.png)no-repeat center;
}

.sc-info .link-info.eco::before {
    background: url(../images/info02.png)no-repeat center;    
}

.sc-info .link-info.traff::before {
    background: url(../images/info03.png)no-repeat center;    
}

.sc-info .link-info.envi::before {
    background: url(../images/info04.png)no-repeat center;    
}

.sc-info .link-info.welfare::before {
    background: url(../images/info05.png)no-repeat center;    
}

.sc-info .link-info.safe::before {
    background: url(../images/info06.png)no-repeat center;    
}

.sc-info .link-info.cul::before {
    background: url(../images/info07.png)no-repeat center;    
}

.sc-info .link-info.admin::before {
    background: url(../images/info08.png)no-repeat center;    
}


.sc-news{
    position: relative;
    padding: 40px 0 30px;
}
.sc-news .sc-title{
    border: none;
}
.sc-news ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sc-news li{
    width: 24%;
    
}
.sc-news .link-news{
    display: block;
    
}
.sc-news .img-box{
    position: relative;
    overflow: hidden;
}
.sc-news .news-img{
    width: 100%;
}
.sc-news .news-img:hover{
    transform: scale(1.1);
    transition: .3s;
}

.sc-news .badge-envi{
    position: absolute;
    bottom: 0; left: 0;
    color: #fff;
    background-color: #599100;
    font-weight: 700;
    padding: 5px 28px;
    font-size: 14px;
}
.sc-news .desc{
    margin: 20px 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.sc-news .link-more{
    color: #7d7d7d;
    display: block;
    font-size: 15px;
    position: absolute;
    top: 55px;right:20px;
}
.sc-news .link-more::after{
    content: '';
    display: inline-block;
    background-position: -1px -1px;
    width: 17px; height: 17px;
    box-sizing: border-box;
    position: absolute;
    top: 2px;
}


.inner3{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 2px solid #000;
}
.inner3 .sc-title{
    border: none;
    margin-bottom: 0px;
    padding-bottom: 11px;
    line-height: 38px;
}

.sc-video{}
.sc-video .link-video{
    display: block;
    position: relative;
    overflow: hidden;
}
.sc-video .video-img{
    width: 100%;
    display: block;
    transition: .3s;
}
.sc-video .video-img:hover{
    transform: scale(1.1);
    
}
.sc-video .video-sub{
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    background: rgba(0,0,0,0.5);
    bottom: 0;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    display : block;
    padding: 10px;
    box-sizing: border-box;
}


.sc-news02{}
.sc-news02 .news-list{
    width: 480px;
}
.sc-news02 .news-item{
    padding: 8px 0;
    display: flex;
    flex-wrap: nowrap;
}
.sc-news02 .cate{
    white-space:nowrap;
    font-size: 16px;
    font-weight: 400;
    color: #09ac43;
    margin-right: 18px;
}
.sc-news02 .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.sc-sns{
    background: url(../images/snsbg.jpg) no-repeat 100%;
    background-position: cover;
    width: 350px; 
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
}
.sc-sns .sns-all{
    display: block;
}
.sc-sns .sc-title{
    font-size: 22px;
}
.sc-sns .sc-title::after{
    content: '';
    position: absolute;
    top: 17px;
    right: 180px;
    display: inline-block;
    width: 34px;
    height: 24px;
    background-position:  -247px 0;
    border-left: 1px solid #878787;
    padding-right: 6px;
    
}
.sc-sns .sns-box{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.sc-sns .link-sns{
    display: inline-block;
    height: 40px; width: 40px;
    margin: 20px 2px 0 2px;
}
.sc-sns .link-sns.insta{
    background-position: 0 0;
}
.sc-sns .link-sns.facebook{
    background-position: -40px 0;
}
.sc-sns .link-sns.twitter{
    background-position: -80px 0;
}
.sc-sns .link-sns.blog{
    background-position: -120px 0;
}
.sc-sns .link-sns.youtube{
    background-position: -160px 0;
}
.sc-sns .link-sns.kakao{
    background-position: -200px 0;
}


.sc-banner{
    position: relative;
    padding: 50px 0 50px 0;
    box-sizing: border-box;
}
.sc-banner .banner-slide{
    height: 122px;
}
.sc-banner .bottom-slide{
    display: block;
    width: 355px;
}
.sc-banner .bottom-slide img{
    width: 100%;
}
.sc-banner .control-box{
    position: relative;
    display: block;
    height: 32px;
    margin-top: 5px;  

}
.sc-banner .swiper-pagination{
    position: absolute;
    display: block;
    right: 70px;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
}
.sc-banner .slide-btn-box{
}
.sc-banner .btn-prev{}
.sc-banner .play-box{}
.sc-banner .btn-stop{}
.sc-banner .btn-next{}

.sc-related{
    position: relative;
    margin-bottom: 20px;
}
.sc-related .related-list{
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    background: #d0d0d0;
    display: flex;

}
.sc-related .relaterd-item{
    width: 33.3333%;
}
.sc-related .btn-related{
    display: block;
    padding: 16px 0;
    border-left: 1px solid #d0d0d0;
    background: #f7f7f7;
    color: #333;
    text-align: center;
}

.sc-related .btn-related span{
    font-size: 14px;
}
.sc-related .btn-related span::after{
    content: '';
    display: inline-block;
    height: 7px; width: 7px;
    
    margin-left: 10px;
    border-style: solid;
    border-color: #373737;
    border-width: 0px 2px 2px 0px;
    transform: rotate(-135deg);
    transition: .3s;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: center center;
}

.sc-related .sub-list{
    display: none;
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    padding: 10px 20px 20px;
    background: #fff;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    z-index: 5;
    overflow: hidden;
  
}
.sc-related .sub-list.l01{
    
}
.sc-related .sub-list.l02{
   
}
.sc-related .sub-list.l03{
   
}

.sc-related .btn-related.active{
    background: #e2e2e2;
}
.sc-related .btn-related.active span::after{
    transform: rotate(45deg);
}
.sc-related .sub-list.active{
    /* opacity: 1;
    display: block; */
}
.sc-related .sub-list li{
    float: left;
    width: 25%;
    margin-top: 10px;
}
.sc-related .sub-list a{
    display: block;
    font-size: 14px;
    color: #555555;
}